html,body {
    margin:0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
table {
    width: 100%;
    height: 100%;
    border:0px solid #000000;
}
table.floorplan {
    border:0px solid #000000;
    border-collapse: collapse;
}
table.sidebar {
    background: #FFFFFF;
}
#book_seat_btn {
    width: 100%;
    height: 50px;
    display: none;
}
#book_view {
    /*display: none;*/
}
#selected_seat_info {
    font-size: 1.5em;
}
